* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-area {
  width: 80%;
  height: 80vh;
  border: 1px solid var(--primary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-background-color);
  border-radius: 16px;
}

.app_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}