:root {
  --text-color: #FFFFFF;
  --primary-color: rgb(114, 107, 253);
  --primary-background-color: rgba(158, 153, 255, 0.5);
}

body {
    /* background: url('./1920836.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}
